.layout {
    display: grid;
    grid-template-columns: 230px 1fr;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;

    @media (--t) {
        grid-template-columns: 230px 1fr 230px;
    }
}